@model N01432018_Assignment3_MVC.Models.Class
@{
    ViewBag.Title = "Show";
}

<h2>Show Classes</h2>
<br />
<h5>Class Code : @Model.ClassCode</h5>
<h5>Teacher Id : @Model.TeacherId </h5>
<h5>Start Date : @Model.StartDate </h5>
<h5>Finish Date :@Model.FinishDate </h5>


<h5><a href="/Class/List">Back</a></h5>


