@model IEnumerable<N01432018_Assignment3_MVC.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<div class="container-main">
<h2 class="info">This page will view the information about Teachers</h2>
<img src="/images/school1.png" alt="School Image"/>
</div>

<div class="navbar">
    <a class="navbar-link" href="/Teacher/New">New Teacher </a>
</div>

<div class="container-form">
    <form action="/Teacher/List" method="get" id="form1">
        <div>
           <label for="Teachername">Teacher Name : </label>
           <input type="text" name="SearchKey" id="TeacherFname"/>
        </div>
        <div>
            <label for="Salary">Salary: </label>
            <input type="text" name="Number" />
        </div>
        <div>
            <label for="Hiredate">Hire Date: </label>
            <input type="text" name="Date" />
        </div>
        <div>
            <input type="submit" value="Search" />
        </div>
    </form>
</div>

@foreach(var teacher in Model) {

    <div>@teacher.TeacherId <a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
}



