@model N01432018_Assignment3_MVC.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>
<br />
<h5>Teacher FirstName : @Model.TeacherFname </h5>
<h5>Teacher LastName : @Model.TeacherLname </h5>
<h5>Employee Number : @Model.EmployeeNumber </h5>
<h5>HireDate :@Model.HireDate</h5>
<h5>Salary : @Model.Salary</h5>


<h5><a href="/Teacher/List">Back</a></h5>
<br />

<form action="/Teacher/DeleteTeacherConfirm/@Model.TeacherId" method="get" name="deleteform">
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td><input type="submit" value="Delete" /></td>
        </tr>

    </table>
</form>

