@model N01432018_Assignment3_MVC.Models.Student
@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>
<h5>Student FirstName : @Model.StudentFname </h5>
<h5>Student LastName : @Model.StudentLname </h5>
<h5>Student Number : @Model.StudentNumber </h5>
<h5>Enrol Date : @Model.EnrolDate</h5>


 
<h5><a href="/Student/List">Back</a></h5>